<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../styles/index.css">
    <title>GitHub</title>
</head>
<body>
    <div id="main">
        <h1>Login</h1>
        <form class="login">
            <input type="text" required placeholder="Insira seu nome" class="loginField" name="userName">
            <input type="password" required placeholder="Insira sua senha" class="loginField" name="userPassword">
            <input type="submit" value="Login" class="loginField">
        </form>
        <a href="register.html">cadastre-se</a>

        <script src="../controllers/authController.js"></script>
        <script src="../index.js"></script>
    </div>
</body>
</html>